.container{
    background-color: darksalmon;
    width: 700px;
    height: 500px;
    border: 1px solid darkcyan;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}