.formStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    // top: 50px;
    h2{
        margin-bottom: 20px;
    }
    input{
        width: 450px;
        margin: 2px 0px;

    }
}

.divas{
    // top: 120px;
    // position:absolute;
    width: 500px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
}
