.formStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    // top: 50px;
    
    input{
        width: 450px;
        margin: 2px 0px;

    }
}

.divas{
    // top: 120px;
    // position:absolute;
    width: 500px;
    height: 1000px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 21vw;
    margin-top: 100px;
    
}

