*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    display:flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    // position:fixed;
    background-color: orchid;
    width: 100vw;
    margin-bottom: 10px;

    button{
        width: 50px;
        height: 25px;
        top: 25px;
        position: absolute;
        left: 800px;
    }
}